@import "tailwindcss";

*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
}

#app { min-height: 100vh; }

@media print {
  .no-print { display: none !important; }
  body { font-family: 'Sarabun', sans-serif; }
}
